<html>
    {% extends 'base.html' %}

    {% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/css/profile.css' %}">
    </head>
    <body>
            <img src="{{profile.icon.url}}" class="profileavatar">
            <div class="username">{{profile.owner.username}}</div><br>
            <div class="status">{{profile.status}}</div>
            <div class="status">{{profile.type}}</div><br>
    </body>
    {% endblock %}
</html>