<!DOCTYPE  HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">

{% extends 'descr.html' %}
<html> 
{% block test %}
<head>  
 {% load static %}  
 <link rel="shortcut icon" href="{% static 'img/label.ico' %}" type="image/x-icon">
 <link href="{% static 'css/css/descr.css' %}" rel="stylesheet">  
 <title>Кванториум Ярославль</title>
</head>  
<body> 
    <header>
        <div class="header-geo">
            <a><p class="header1">Геоквантум</p></a>
        </div>
    </header>
    <div class="text-info">
        <p>Помимо повседневного личного использования, геопространственные технологии являются основой для работы и развития целых отраслей и направлений в мире: транспорт и логистика, геологоразведка и добыча полезных ископаемых, сельское хозяйство, строительство и ЖКХ, археология, кадастр и землеустройство, градостроительство, оборона и безопасность, управление территориями и территориально распределёнными организациями.<br>
            Пространственные характеристики объектов и явлений, используемые вместе с большими массивами сопутствующей информации (в том числе «открытые данные») являются источником новых знаний об объектах, процессах и явлениях – в этом суть Геоинформатики (картографии) как образовательного и научного направления.</p>
        <p>Обучающиеся геоквантума работают с космическими снимками, аэрофотосъемкой, данными GPS/ГЛОНАСС и всем многообразием пространственных данных, строят 3D-города, решают задачи, связанные с экологией, историей, маркетингом, городской средой, сельским хозяйством и всем, что нас окружает.<br>
            Школьники получат знания, которые позволят им понять основы устройства окружающего мира, законы развития природных явлений, получат навыки в применении геоинформационных инструментов и данных. Смогут реализовывать индивидуальные и коллективные проекты в сфере исследования социальной среды и окружающего мира; начать использовать в повседневной жизни навигационные сервисы, космические снимки; собирать данные об объектах на местности (например, деревья и леса, дома города, поля, горы, реки, памятники и др.); изучать отдельные процессы, природные и техногенные явления.<br>
            Участники проекта пройдут все стадии работы с геоданными (карты, снимки, 3D-модели местности и др.) и разработки карты (ГИС), начиная с выбора тематики (постановки социальной, экологической или иной проблемы), получения информации, формирования слоя геоинформационной системы и выполнения анализа с последующим оформлением (визуализацией) результатов. Проект может строиться как на командной, так и на индивидуальной основе. Число предполагаемых участников в команде – 3-5 человек.</p>
        <p>Обучающиеся:<br>
            > научатся работать с космической съемкой (работать со спектральными каналами для выявления пожаров, загрязнений, типов растительности и др.);<br>
            > работать с геоинформационными системами (ГИС);<br>
            > обрабатывать аэросъемку и получать точные ортофотопланы и 3х мерные модели местности;<br>
            > программировать геопорталы (web-карты);<br>
            > моделировать 3D-объекты;<br>
            > создавать панорамные туры;<br>
            > использовать мобильные устройства для сбора данных (собственные краудсорсинг платформы для сбора пространственных данных);<br>
            > выполнять пространственный анализ;<br>
            > создавать электронные и печатные карты.<br>
            А также разовьют навыки пространственного мышления, работы с большими массивами различной информации, выявления реальных территориальных задач.</p>
    </div> 
</body>  
{% endblock test %}
</html>