<!DOCTYPE  HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">

{% extends 'descr.html' %}
<html> 
{% block test %}
<head>  
 {% load static %}  
 <link rel="shortcut icon" href="{% static 'img/label.ico' %}" type="image/x-icon">
 <link href="{% static 'css/css/descr.css' %}" rel="stylesheet">  
 <title>Кванториум Ярославль</title>
</head>  
<body> 
    <header>
        <div class="header-haiteg">
            <a><p class="header1">Хайтек</p></a>
        </div>
    </header>
    <div class="text-info">
        <p>В современном мире появилось невероятно большое количество удивительных возможностей, которые помогают нам создавать очень комфортные условия для жизни. Технологический мир развивается огромными темпами. Современная электротехника является очень эффективной в своем применении. Обучение в HI-TECH цехе позволяет узнать и понять, как создаются и функционируют те вещи, которые нас с вами окружают.</p>
        <p>Хайтек — это инженерия, изобретательство, CAD/CAM системы, лазерные технологии, аддитивные технологии, станки с ЧПУ, электронные компоненты, основы технопредпринимательства. HI-TECH цех – лаборатория межквантового взаимодействия в рамках подготовки проектов.</p>
        <p>Особенностью обучения в Хайтеке является направленность на создание теоретической базы в области физики и электроники и формирование навыков работы с элементной базой различного уровня сложности. Включено ознакомление детей со всеми направлениями исследований в области электроники и электротехники.</p>
        <p>Обучающиеся:<br>
            > узнают основы инженерии и изобретательства;<br>
            > освоят основные теории решения изобретательских задач;<br>
            > научатся решать инженерные и изобретательские задачи;
            > узнают о моделировании;<br>
            > научатся основам черчения и создания 2D и 3D-моделей;<br>
            > освоят создание модели в CAD/CAM-системах;<br>
            > узнают о лазерных технологиях;<br>
            > научатся пользоваться лазерным станком;<br>
            > освоят создание изделий с помощью лазерных технологий;<br>
            > узнают об аддитивных технологиях;<br>
            > научатся пользоваться 3D-принтером;<br>
            > освоят создание 3D-изделий с помощью аддитивных технологий;<br>
            > узнают о классических технологиях обработки материала;<br>
            > научатся пользоваться фрезерным станком с ЧПУ;<br>
            > освоят создание изделий с помощью фрезерного станка;<br>
            > узнают о работе с электронными компонентами;<br>
            > научатся пользоваться паяльным и простым электронно-измерительным оборудованием;<br>
            > освоят пайку, простые электронные компоненты и измерительные приборы;<br>
            > научатся работать с простым ручным инструментом и материализовывать свои проекты.
            </p>
    </div> 
</body>  
{% endblock test %}
</html>