<!DOCTYPE  HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">

{% extends 'descr.html' %}
<html> 
{% block test %}
<head>  
 {% load static %}  
 <link rel="shortcut icon" href="{% static 'img/label.ico' %}" type="image/x-icon">
 <link href="{% static 'css/css/descr.css' %}" rel="stylesheet">  
 <title>Кванториум Ярославль</title>
</head>  
<body> 
    <header>
        <div class="header-imedia">
            <a><p class="header1">Медиа квантум</p></a>
        </div>
    </header>
    <div class="text-info">
        <p>XXI век – эпоха информационных технологий, которую невозможно представить без качественного медиа. Благодаря современным устройствам и программам, журналистика стала технически проще: уже сейчас можно создавать интересные видеосюжеты для новостей, статьи для интернет-порталов или рекламные материалы в социальных сетях для сотен тысяч пользователей может каждый.</p>

        <p>Хочешь запустить свой канал на YouTube?<br>
            Создать интересную передачу на ТВ??<br>
            А может твое призвание — разработка информационных и развлекательных интернет-порталов или корпоративных сайтов???<br></p>
            
        <p>Тогда тебе точно к нам, в «Медиаквантум»!</p>
            
            
            
        <p>Занятия по направлению направлены на изучение основ современных СМИ: как правильно создавать интересные новости, аналитические, развлекательные и рекламные материалы, изучения медиа-рынка. Обучаясь по направлению «Медиаквантум», учащиеся приобретают навыки командной работы, креативного мышления, а также нестандартного подхода к решению задач. Также программа развивает прикладные умения: работа с фото, видео и звуком (от обычной съёмки до сложного видеомонтажа собственных программ), а также создание сайта «с нуля».</p>
    </div> 
</body>  
{% endblock test %}
</html>