<!DOCTYPE  HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">

<html> 
<head>  
 {% load static %}  
 <link rel="shortcut icon" href="{% static 'img/label.ico' %}" type="image/x-icon">
 <link href="{% static 'css/css/descr.css' %}" rel="stylesheet">  
 <title>Кванториум Ярославль</title>
</head>  
<body> 
        <div class="text-info">
            <p>«КВАНТОРИУМ» — это федеральная сеть детских технопарков, создаваемая в России в рамках новой модели детского дополнительного образования. Модель предложена Агентством стратегических инициатив при Правительстве РФ.</p>
            <p>Совместно с Агентством стратегических инициатив Госкорпорация Ростех с 2016 года развивает федеральную сеть детских технопарков, призванных стать инкубаторами новой инженерной мысли в России. Сегодня любой подросток практически во всех регионах страны может попробовать свои силы в инженерном деле и прикоснуться к самым современным технологиям. О предпосылках появления нового образовательного проекта и особенностях «Кванториума» – в нашем материале. </p>
            <p>МИССИЯ: содействовать ускоренному техническому развитию детей и реализации научно-технического потенциала российской молодежи, внедряя эффективные модели образования, доступные для тиражирования во всех регионах страны.</p>

                <p>ЦЕЛЬ: создание и развитие системы современных инновационных площадок интеллектуального развития и досуга для детей и подростков на территории России.</p>
                
                <p>ЗАДАЧИ:<br>
                
                - Создать систему научно-технического просвещения через привлечение детей и молодёжи к изучению и практическому применению наукоёмких технологий.<br>
                
                - Выстроить социальный лифт для молодежи, проявившей значительные таланты в научно-техническом творчестве.<br>
                
                - Обеспечить подготовку национально-ориентированного кадрового резерва для наукоемких и высокотехнологичных отраслей экономики РФ.<br>
                
                - Разработать и внедрить новый российский формат дополнительного образования детей в сфере инженерных наук.<br>
                
                - Обеспечить системное выявление и дальнейшее сопровождение одаренных в инженерных науках детей.</p>
            <p>В детском технопарке «КВАНТОРИУМ»:<br>
                ❗ обучение детей БЕСПЛАТНО (по сертификатам ПФДО), также имеются платные программы<br>
                ❗ УНИКАЛЬНОЕ технологическое ОБОРУДОВАНИЕ,<br>
                ❗современный ПОДХОД к обучению: школьники сотрудничают с настоящими учеными и бизнесменами и выполняют реальные производственные задачи.</p>
            <p></p>
            <h3>Как записаться к нам на занятия?</h1>
            <p>
            С 09 августа 2021 года c 10.00 на портале <a href="https://yar.pfdo.ru">https://yar.pfdo.ru</a> Вы можете оставить заявку на обучение. Заявки, поданные раньше 10.00 приниматься не будут!
            После подачи заявки в течение 14 дней необходимо предоставить документы с соблюдением масочного режима  только по предварительной записи по телефону 23-53-79.
            Также заявку можно оформить лично в Кванториуме, предварительно записавшись на подачу документов по телефону 23-53-79.
            </p>
            <h3>С какого возраста принимаются дети на бесплатное обучение?</h1>
            <p>
            Возраст обучающихся: от 12 до 18 лет*<br>
            * достигшие на 31 декабря текущего года возраста 12 лет и не достигшие на 01 сентября текущего года возраста 18 лет.
            </p><p>
            Место и время подачи документов:<br>
            ул. Чайковского, д.55, отдельный вход с вывеской Детский технопарк «Кванториум»<br>
            в будние дни: пн-пт с 09.00 до 18.30<br>
            <a href="{% static 'documents/2.pdf' %}">> Правила зачисления, перевода, отчисления, восстановления обучающихся по дополнительным общеобразовательным общеразвивающим программам в детский технопарк «Кванториум» </a><br>
            <a href="{% static 'documents/1.pdf' %}">> Информация для родителей о персонифицированном дополнительном образовании детей в Ярославской области</a></p>
            <h3>Перечень необходимых документов</h3>

            <p>1. Документы, удостоверяющие личность родителя (законного представителя) и ребенка (паспорт, свидетельство о рождении и их копии);<br>

            2. Номер сертификата на получение услуг дополнительного образования;<br>

            3. Копия СНИЛС ребенка;<br>

            4. Согласие на обработку персональных данных:<br>

            <a href="{% static 'documents/3.pdf' %}">> Согласие на обработку персональных данных от родителя (ребенку 12-13 лет)</a><br>

            <a href="{% static 'documents/4.pdf' %}">> Согласие на обработку персональных данных от родителя и ребенка 14+ лет</a><br>

            5. Заявление о приеме на обучение в детский технопарк «Кванториум»:<br>

            <a href="{% static 'documents/5.docx' %}">> Заявление о приеме на обучение в Кванториум от родителя (ребенку 12-13 лет)</a><br>

            <a href="{% static 'documents/6.pdf' %}">> Заявление о приеме на обучение в Кванториум от ребенка 14+ лет</a></p>
            <h2>Контакты</h2>

            <table><tr><td colspan="2"><b>ГПОУ ЯО Ярославский градостроительный колледж Структурное подразделение детский технопарк «Кванториум»</b><br>

            Адрес: 150040, г. Ярославль, ул. Чайковского, 55<br>
            Тел. 8 (4852) 23-53-79 (внутр. 390)<br>
            E-mail: YarKvantorium76@gmail.com<br></td></tr>
            <tr><td>
            <b>Руководитель детского технопарка «Кванториум»</b><br>
            Дубовик Антон Ильич <br>
            dubovikai92@gmail.com<br>
            Тел: 8 (4852) 23-59-78 (398)<br>	
            </td><td>
            <b>Заместитель руководителя детского технопарка «Кванториум»</b><br>
            Исаева Светлана Николаевна<br>
            Sn10.isaeva@gmail.com<br>
            Тел: 8 (4852) 23-59-78 (398)<br></td></tr></table>
        </div>
        <br>
    </div> 
</body>  
</html>