<!DOCTYPE  HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">

{% extends 'descr.html' %}
<html> 
{% block test %}
<head>  
 {% load static %}  
 <link rel="shortcut icon" href="{% static 'img/label.ico' %}" type="image/x-icon">
 <link href="{% static 'css/css/descr.css' %}" rel="stylesheet">  
 <title>Кванториум Ярославль</title>
</head>  
<body> 
    <header>
        <div class="header-it">
            <a><p class="header1">ИТ квантум</p></a>
        </div>
    </header>
    <div class="text-info">
        <p>Информационные технологии призваны, основываясь и рационально используя современные достижения в области компьютерной техники и иных высоких технологий, новейших средств коммуникации, программного обеспечения и практического опыта, решать задачи по эффективной организации информационного процесса для снижения затрат времени, труда, энергии и материальных ресурсов во всех сферах человеческой жизни и современного общества. </p>
        <p>IT-квантум направлен на приобретение обучающимися фундаментальных знаний в сфере информационных технологий, а также освоение перспективных направлений: интернет вещей (IoT), машинное обучение (ML), блокчейн, информационная безопасность и др. посредством работы в команде с использованием кейс-технологий. В IT-Квантуме мы будем изучать технологии будущего, тем самым развивая навыки FutureSkills уже сегодня, стараясь не отставать от быстро развивающихся информационных технологий. В нашем кванте будущего мы научим вас не просто программировать, воплощая все ваши инновационные решения в действительность.</p>
        <p>Обучающиеся:<br>
            > узнают, как происходит взаимодействие между вычислительными устройствами;<br>
            > освоят основы построения сетей;<br>
            > научатся администрированию и настраиванию локальных сетей;<br>
            > узнают, на каких принципах основана технология блокчейн;<br>
            > научатся создавать одноранговые компьютерные сети;<br>
            > освоят создание децентрализованных приложений;<br>
            > научатся проектировать и создавать свои устройства IoT;<br>
            > узнают, как работают различные нейронные сети;<br>
            > научатся создавать алгоритмы на языке программирования для решения ряда таких задач как распознавание речи и образов, умные фильтры спама и т. д. посредством компьютера;<br>
            > получат знания в областях защиты информации и криптографии;<br>
            > научатся работать в команде, овладеют навыками коммуникации и работы с информацией.</p>
    </div> 
</body>  
{% endblock test %}
</html>