<!DOCTYPE  HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">

{% extends 'descr.html' %}
<html> 
{% block test %}
<head>  
 {% load static %}  
 <link rel="shortcut icon" href="{% static 'img/label.ico' %}" type="image/x-icon">
 <link href="{% static 'css/css/descr.css' %}" rel="stylesheet">  
 <title>Кванториум Ярославль</title>
</head>  
<body> 
    <header>
        <div class="header-promdesign">
            <a><p class="header1">Промдизайн квантум</p></a>
        </div>
    </header>
    <div class="text-info">
        <p>В Промдизайнквантуме обучающиеся учатся проектировать окружающий предметный мир и взаимодействие с ним, работать на стыке инженерии и искусства, решать прикладные задачи и формировать новое восприятие, соединять технологичность и эстетичность в одном изделии.</p>
        <p>Обучающиеся научатся:<br>
            > анализировать и проектировать пользовательский опыт;<br>
            > определять взаимозависимость формы объекта, его функции, материалов и технологии изготовления;<br>
            > проектировать жизненный цикл продукта;<br>
            > проводить дизайн-анализ;<br>
            > разбираться в эргономике, эстетике, колористике, композиции и применять эти знания в проектировании.</p>
    </div> 
</body>  
{% endblock test %}
</html>