<!DOCTYPE  HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">

{% extends 'descr.html' %}
<html> 
{% block test %}
<head>  
 {% load static %}  
 <link rel="shortcut icon" href="{% static 'img/label.ico' %}" type="image/x-icon">
 <link href="{% static 'css/css/descr.css' %}" rel="stylesheet">  
 <title>Кванториум Ярославль</title>
</head>  
<body> 
    <header>
        <div class="header-promrobo">
            <a><p class="header1">Промробо квантум</p></a>
        </div>
    </header>
    <div class="text-info">
        <p>Робототехника – популярная сегодня наука, которая ведет работу в области разработки автоматизированных технических систем. Если раньше роботы были просто фантастикой, сегодня они окружают нас везде. Роботы спасают людей, трудятся в экстремальных условиях, опасных для человека, лечат, воюют, исследуют космос и служат развлечением. Робототехника опирается на определенные дисциплины, среди которых электроника, информатика, радиотехника, математика, физика и делает их более интересными для изучения. Не скучные формулы и примитивные опыты, а практическое применение законов физики. Не заучивание теорем и аксиом, а реальные расчеты, результатом которых становится работающее изобретение. Ребенок не просто что-то учит, а видит результат, применив изученное.</p>
        <p>Мультипредметность промышленной робототехники погружает кванторианцев в такие научные и инженерные дисциплины как механика, электроника, электротехника, физика, информатика (машинное обучение, техническое зрение, операционные системы), математическое моделирование и др. Проектная деятельность, направленная на создание интеллектуальных систем для различных сфер человеческой деятельности, в частности производства, позволяет формировать системное мышление как в инженерном, так и в мировоззренческом смысле. Обучающиеся изучат передовые технологии в области электроники, мехатроники и программирования, конструирование и программирование роботов.</p>
        <p>Обучающиеся научатся:<br>
            > разрабатывать специализированные алгоритмы управления и встраиваемого программного обеспечения;<br>
            > разрабатывать и эксплуатировать управляющую электронику, информационные и сенсорные системы;<br>
            > проектировать и конструировать узлы и механизмы роботов.<br>
            > После освоения вводного модуля обучающиеся смогут декомпозировать работу промышленных систем автоматизации, освоят CAM-системы и системы оффлайн-программирования промышленных роботов, приобретут навыки работы с ситемами технического зрения и с многокомпонентными робототехническими комплексами, в т. ч. промышленными.</p>
    </div> 
</body>  
{% endblock test %}
</html>