<!DOCTYPE html>
{% extends 'base.html' %}
<html>
    {% block content %}
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <link href="{% static 'css/css/message.css' %}" rel="stylesheet">  
</head>
<body>
        {% if not chat %}
            <div class="panel panel-body">
                Невозможно начать беседу. Не найден пользователь или вы не имеете доступа к данной беседе.
            </div>
        {% else %}
            {% load tz %}
            {% if chat %}
                <div id="messages" class="panel">
                    <div id="innerMessages">
                        {% for message in chat.message_set.all %}
                                {% include 'message/message.html' with message_item=message %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div id="message_form">
                <form id="message-form" class="panel panel-body" method="post" >
                    {% load bootstrap3 %}
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-default btn-sm" onclick="return ETextEditor.validateForm('message-form')"><span class="ico ico-comment"></span>Отправить</button>
                </form>
            </div>
        {% endif %}
</body>
{% endblock %}
</html>